@model MovieManager.Application.DTOs.Actor.ActorIndexDto
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

@{
    ViewData["Title"] = "Actors";
}

<link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />

<h1>Actors</h1>

@if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Moderator")))
{
    <p>
        <a asp-action="Create" style="color: black">Add new actor</a>
    </p>
}
<div class="p-3 mb-2 bg-dark rounded">
    <h5 style="color:white">Filter</h5>

    <div class="p-3 mb-2 row" style="width:30%">
        <text style="color:white">woman</text>
        <div class="slidecontainer mx-2" style="width:30%">
            <input type="range" min="0" max="2" value="1" class="slider" id="genderSlider">
        </div>
        <text style="color:white">man</text>
    </div>

    <button type="button" class="btn btn-warning mr-2" style="width:20%" data-toggle="modal" data-target="#RatingModal">
        Rating
    </button>
    <div class="modal fade" id="RatingModal" tabindex="-1" role="dialog" aria-labelledby="RatingModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-scrollable" role="document" style="width:auto">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white" id="RatingModalLabel">Select range of rating</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="min-height:100px; position:relative;">
                    <div class="row" style="position:absolute;top:47%;margin:0;margin-left:-1.2%">
                        <div class="btn-group-toggle" data-toggle="buttons" id="gradeBtns">
                            @for (var i = 1; i <= 10; i++)
                            {
                                <button value="@i" type="button" class="filterBtn btn btn-outline-warning" data-toggle="button" data-tooltip="tooltip" title="@i" aria-pressed="false" autocomplete="off">
                                    <i class="far fa-star " aria-hidden="true"></i>
                                </button>
                            }
                        </div>
                    </div>

                </div>
                <div class="modal-footer" id="gradeModal">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Save</button>
                    <button type="button" class="clearModalBtn btn btn-dark">Clear</button>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-warning mr-2" style="width:20%" data-toggle="modal" data-target="#YearModal">
        Year of birth
    </button>
    <div class="modal fade" id="YearModal" tabindex="-1" role="dialog" aria-labelledby="YearModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-scrollable" role="document" style="width:auto">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white" id="YearModalLabel">Select range of years of birth</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="min-height:100px; max-height:200px; position:relative;">
                    <div>
                        <div class="btn-group-toggle" data-toggle="buttons" id="yearBtns">
                            @for (var i = DateTime.Now.Year; i >= 1920; i--)
                            {
                                <button value="@i" type="button" class="filterBtn btn btn-outline-warning" data-toggle="button" data-tooltip="tooltip" title="@i" aria-pressed="false" autocomplete="off">
                                    @i
                                </button>
                            }
                        </div>
                    </div>
                </div>
                <div class="modal-footer" id="yearModal">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Save</button>
                    <button type="button" class="clearModalBtn btn btn-dark">Clear</button>
                </div>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-warning mr-2" style="width:20%" data-toggle="modal" data-target="#CountryModal">
        Country
    </button>
    <div class="modal fade" id="CountryModal" tabindex="-1" role="dialog" aria-labelledby="CountryModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-scrollable" role="document" style="width:auto">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-white" id="CountryModalLabel">Select country</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="min-height:100px; position:relative;">
                    <div id="countryBtns">
                        @foreach (var country in Model.CountriesList)
                        {
                            <button value="@country" type="button" class="filterBtn btn btn-outline-warning" data-toggle="button" aria-pressed="false" autocomplete="off">
                                @country
                            </button>
                        }
                    </div>
                </div>
                <div class="modal-footer" id="countryModal">
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Save</button>
                    <button type="button" class="clearModalBtn btn btn-dark">Clear</button>
                </div>
            </div>
        </div>
    </div>

    <button id="filter" type="button" class="btn btn-warning " style="width:20%; float:right">
        <i class="fas fa-filter"></i> <text class="font-weight-bold">Filter</text>
    </button>
</div>

<div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" style="width:20%" type="button" id="sort_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        sort by
    </button>
    <div class="dropdown-menu">
        <div class="row">
            <div class="col-sm">
                <a class="dropdown-item-text" style="color:dimgray">name</a>
            </div>
            <div class="col-auto">
                <button class="dropdown-item" value="">ascending</button>
                <button class="dropdown-item" value="nameDesc">descending</button>
            </div>
        </div>

        <div class="dropdown-divider"></div>

        <div class="row">
            <div class="col-sm">
                <a class="dropdown-item-text" style="color:dimgray">date of birth</a>
            </div>
            <div class="col-auto">
                <button class="dropdown-item" value="born">ascending</button>
                <button class="dropdown-item" value="bornDesc">descending</button>
            </div>
        </div>

        <div class="dropdown-divider"></div>

        <div class="row">
            <div class="col-sm">
                <a class="dropdown-item-text" style="color:dimgray">rating</a>
            </div>
            <div class="col-auto">
                <button class="dropdown-item" value="grade">ascending</button>
                <button class="dropdown-item" value="gradeDesc">descending</button>
            </div>
        </div>

        <div class="dropdown-divider"></div>

        <div class="row">
            <div class="col-sm">
                <a class="dropdown-item-text" style="color:dimgray">number of ratings</a>
            </div>
            <div class="col-auto">
                <button class="dropdown-item" value="quantityGrade">ascending</button>
                <button class="dropdown-item" value="quantityGradeDesc">descending</button>
            </div>
        </div>
    </div>
</div>

<p></p>

<div class="dropdown">
    <button class="btn btn-dark dropdown-toggle" style="width:20%" type="button" id="show_dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        show on page
    </button>
    <div class="dropdown-menu" id="pageSize">
        <button class="dropdown-item" value="5">5</button>
        <button class="dropdown-item" value="10">10</button>
        <button class="dropdown-item" value="15">15</button>
    </div>
</div>

@foreach (var item in Model.PaginatedActors)
{
    <hr />
    <div class="row">
        <div class="col-auto">
            @if (item.ImageName != null)
            {
                <img src="@("~/Image/" + item.ImageName)" class="zoom" asp-append-version="true" style="width:100px; height:auto;" />

            }
        </div>
        <div class="col-auto">
            <h4><a asp-action="Details" asp-controller="Actor" asp-route-id="@item.Id" style="color:black">@item.FullName</a></h4>
            <h6 style="color:dimgray">
                (@item.BornDate.Year - @if (item.DeathDate != null)
                {@item.DeathDate.Value.Year;
            })
            </h6>
            <h4>
                @{
                    if (item.AverageGrade.HasValue)
                    {
                        if (item.AverageGrade.Value < 5)
                        {
                            <i class="far fa-star"></i>
                        }
                        else if (item.AverageGrade.Value < 7)
                        {
                            <i class="fas fa-star-half-alt"></i>
                        }
                        else
                        {
                            <i class="fas fa-star"></i>
                        }
                        @Html.DisplayFor(modelItem => item.AverageGrade.Value)
                    }
                }
            </h4>
        </div>
        <div class="col-lg">

        </div>
        @if (signInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Moderator")))
        {
            <div class="col-auto" style="float:right">
                <a asp-action="Edit" asp-controller="Actor" asp-route-id="@item.Id" class="btn btn-outline-dark w-100">Edit</a>
                <p></p>
                <a asp-action="Delete" asp-controller="Actor" asp-route-id="@item.Id" class="btn btn-outline-dark w-100">Delete</a>
            </div>
        }
    </div>
}

@{
    var prevDisabled = !Model.PaginatedActors.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.PaginatedActors.HasNextPage ? "disabled" : "";
    var next = @Model.PaginatedActors.PageIndex + 1;
    var previous = @Model.PaginatedActors.PageIndex - 1;

    <p></p>

    <div id="pagination">
        <button class="pagebtn btn btn-dark" @prevDisabled value="@previous" id="previous">
            Previous
        </button>
        <button class="pagebtn btn btn-dark" @nextDisabled value="@next" id="next">
            Next
        </button>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="~/js/Own/ActorIndex.js"></script>
}